<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <section class="section is-medium">
        <h1 class="title is-1">"For students from students"</h1></br>
        <h2 class="subtitle is-3">
        Lan akademikoa partekatzeko plataforma da StudyBook. Kalitatezko dibulgazioa
        helburutzat hartuta eta ikasle zein ikerlariei bideratuta, kalitatezko informazioz
        osatutako sare bat du oinarri. Ikasle, ikerlari zein interesdunei bideratutako sare
        honetan perfilak elkarren artean komunikatu ahalko dira lan talde zein komunitate ezberdinak
        sortuz, <b>guztion artean balio akademiko edukia zabaldu eta irakasteko.</b>
        </h2>
    </section>
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p class="title">Sortu komunitateak</p></br>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i></span>
                    <h5 class="subtitle is-5">Sor ezazu zure komunitate propioa</h5>
                </span>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i></span>
                        <h5 class="subtitle is-5">Eztabaidatu beste erabiltzaileekin</h5>
                </span>
                
                <span class="icon-text">
                   <span class="icon">
                    <i class="fas fa-arrow-right"></i>                                                                                                                     </span>
                    <h5 class="subtitle is-5">Jaso gaian adituan direnen iritzia</h5>
                    </span>






            </div>
            <div class="tile is-child box">
                <p class="title">Gune pribatua - Storage</p>
                <span class="icon-text">
                                                                   <span class="icon">
                                                                     <i class="fas fa-arrow-right"></i>
                                                                   </span>
                                                                 <h5 class="subtitle is-5">&ensp;Biltegiratu lainoan fitxtageiak</h5>
                                                                 </span>
                                                                 <span class="icon-text">
                                                                                                    <span class="icon">
<i class="fas fa-arrow-right"></i>                                                                                                    </span>
                                                                                                  <h5 class="subtitle is-5">&ensp;Partekatu modu erraz batean </br>&ensp;edukiak beste erabiltzaileekin</h5>
                                                                                                  </span>
                                                                                                  <span class="icon-text">
                                                                                                                                     <span class="icon">
<i class="fas fa-arrow-right"></i>                                                                                                                                     </span>
                                                                                                                                   <h5 class="subtitle is-5">&ensp;Antolatu behar bezala zure fitxategiak</h5>
                                                                                                                                   </span>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">Ideiaren sorrera...</p>
                <h5 class="subtitle is-5"></br>2020an Bilboko Ingeniaritza Eskolako irakasgai batetik sortutako ideia da StudyBook.
                Kalitatezko informazio akademikoaren falta sumatuta, laugarren mailako irakasgai bat
                aukera ezin hobea izan zen kezka honi erantzuna eman ahal izateko.</br></br>
                Gaur egungo informazio plataformak informazio azkarrari
                eta askotan fidagarria ez den edukietara bideratutako plataformak dira. Eta nahiz eta informazio
                akademiko asko dagoen Interneten, hauetara iristea askotan ez da nahi bezain erraza. Hau dela eta,
                bere ikerketa partekatu nahi dituen ikerlariei, lanak gorde nahi dituzten ikasleei zein interes hutsa
                duten erabiltzaileei bideratuta sortu zen proiektua.
                </h5>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
