<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="columns is-vcentered is-centered">
        <div style="margin: 0 auto">

            <section>
                <h1 class="title" class="fk" style="text-align: center" style="font-size: 3rem"><b>JARRAI GAITZAZU INSTAGRAMEN</b></h1></br>
            </section>
            <figure>
                <img src="public/images/studybookapp_nametag.png" width="450" height="450">
            </figure>
            <a href="https://www.instagram.com/studybookapp/">
                </br><h1 class="fk has-text-info" style="text-align: center">Eskaneatu mugikorrarekin edo sakatu hemen</h1>
            </a>
        </div>

    </div>

</main>

<footer>
<%- include('../partials/footer'); %>
</footer>

</body>
</html>