<footer class="footer mt-6">
    <div class="content has-text-centered">

        <p>
        <a href="/jarraituInstagram">
            <i class="fab fa-instagram fa-2x fk"></i>
        </a>
        &ensp;&ensp;
        <a href="/kontaktua">
            <i class="far fa-envelope fa-2x fk"></i>
        </a>

        </p>
        <p>
        <font size="+0" class="fk">EMAIL: studybookapplication@gmail.com</font></br>
        <font size="+0" class="fk">INSTAGRAM: @studybookapp</font>
        </p>
        <p>
            <strong>StudyBook</strong> by <a href="https://cat-bounce.com/" class="has-text-warning-dark">Aintzel Bereziartua, Iraitz Cordero, Iker Hernandez eta Unai Galicia</a>
        </p>
    </div>
</footer>