<footer class="footer-user">
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <a class="button is-white subtitle" href="/komunitatea"><i class="fas  fa-users mr-3"></i><p class="title is-4">KOMUNITATEA</p></a>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <a class="subtitle button is-white" href="/storage"><i class="fas fa-folder-open mr-3"></i><p class="title is-4">STORAGE</p></a>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <a class="subtitle button is-white" href="/perfila"><i class="fas fa-user mr-3"></i><p class="title is-4">PERFILA</p></a>
            </div>
        </div>
    </nav>
</footer>