<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="public/images/logo.png">
        </a>
        <a class="navbar-item" href="/">
            <p class="title marroia">StudyBook</p>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-warning; norgaraBox" href="/gara">
                            <p style="fk">NOR GARA?</p>
                        </a>
                        <a class="button is-warning; erregistratuBox" href="/sortu">
                            <p style="fk">SORTU KONTUA</p>
                        </a>
                        <a class="button is-warning; kontaktuaBox" href="/kontaktua">
                            <p style="fk">KONTAKTUA</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>